{
  "openapi": "3.1.0",
  "info": {
    "title": "Emerald24 - API",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi-IdkPkvTqpEnAHO-b6LXSEIWqAkv_L11fA&s",
      "altText": "Emerald24 Logo"
    }
  },
  "servers": [
    {
      "url": "https://emerald24.co.uk"
    }
  ],
  "paths": {
    "/bifrost/midgard/webhooks/partner/payment/document/create": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payment SAAS (own)",
        "operationId": "PaymentSAAS(own)",
        "parameters": [
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                17096833300941
              ]
            }
          },
          {
            "name": "TPP-Client-Access",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6MTcyNTc5MTQyNjAzNzF9.SLut9ebVEsADz9VSRLFC7GLaZfCP0A7YDddw4PiSSNg"
              ]
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "const": "application/xml",
              "type": "string",
              "examples": [
                "application/xml"
              ]
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "JSESSIONID=N56taBO9RdKeKJA5K_akkfakmsaxow8h56AfqV5x.emerdevpcore; path=/bifrost; secure; HttpOnly"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nginx"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Mon, 09 Sep 2024 02:45:17 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "338"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "-1"
                  }
                }
              },
              "Cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache, no-store"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Undertow 8.0"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "JSESSIONID=Q6RZgGGCHNVtbmVp8VZv5FEwpsZ4N0Cn6qvf36Z-.emerdevpcore; path=/bifrost/midgard/webhooks/partner; secure; HttpOnly; Max-Age=0; Expires=Thu, 01-Jan-1970 00:00:00 GMT"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-CSRF-Token": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "713475342E54182F0A8964392CADC062B3157A31"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=63072000; includeSubDomains; preload"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/xml;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/response"
                    },
                    {
                      "xml": {
                        "name": "response",
                        "attribute": false,
                        "wrapped": false
                      },
                      "examples": [
                        "<response result=\"true\" level=\"0\">\r\n  <hmdcustomer id=\"16395831653381\" />\r\n  <doc type=\"SAAS_PAYMENT\" sender_user=\"16395831651081\" sender_cust=\"16395831653381\" id=\"FADO09090000057\" class=\"saas\" storage=\"1\" state=\"PSI_REGISTERED\" status=\"1\" sync_ts=\"1725849917440\" />\r\n  <signer>\r\n    <displayPin>9408</displayPin>\r\n    <reference>17258499175501</reference>\r\n    <expiresIn>180</expiresIn>\r\n    <qrCode>signer.document.commit|9408|17258499175501|180|1725850097550|FADO09090000057</qrCode>\r\n  </signer>\r\n</response>"
                      ]
                    }
                  ],
                  "contentMediaType": "text/xml;charset=UTF-8"
                },
                "example": "<response result=\"true\" level=\"0\">\r\n  <hmdcustomer id=\"16395831653381\" />\r\n  <doc type=\"SAAS_PAYMENT\" sender_user=\"16395831651081\" sender_cust=\"16395831653381\" id=\"FADO09090000057\" class=\"saas\" storage=\"1\" state=\"PSI_REGISTERED\" status=\"1\" sync_ts=\"1725849917440\" />\r\n  <signer>\r\n    <displayPin>9408</displayPin>\r\n    <reference>17258499175501</reference>\r\n    <expiresIn>180</expiresIn>\r\n    <qrCode>signer.document.commit|9408|17258499175501|180|1725850097550|FADO09090000057</qrCode>\r\n  </signer>\r\n</response>"
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://example.com",
            "variables": {}
          }
        ]
      },
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "ACC_TO_ACC_OWN (saas)",
        "operationId": "ACC_TO_ACC_OWN(saas)",
        "parameters": [
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                17096833300941
              ]
            }
          },
          {
            "name": "TPP-Client-Access",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6MTcyNTg0ODgzNDY4MTF9.bCWskzgQgMH3bQxd6_nWupgc-mUVfQgptM1hP-XF96Y"
              ]
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "JSESSIONID=Q6RZgGGCHNVtbmVp8VZv5FEwpsZ4N0Cn6qvf36Z-.emerdevpcore; path=/bifrost; secure; HttpOnly"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "customer.id",
                  "document.type",
                  "document.field[@name='subtype']",
                  "document.field[@name='currency']",
                  "document.field[@name='source_currency']",
                  "document.field[@name='source_amount']",
                  "document.field[@name='amount']",
                  "document.field[@name='value_date']",
                  "document.field[name=source_acc]",
                  "document.field[@name='ben_acc']",
                  "document.field[name=info_remmitance]",
                  "document.field[name=bank_ref_no]",
                  "customer.hmdcustomerreference.type.BACKOFFICE",
                  "user.id",
                  "document.field[@name='target_currency']",
                  "document.field[@name='target_amount']",
                  "document.field[@name='ben_name']",
                  "document.field[name=target_acc]"
                ],
                "type": "object",
                "properties": {
                  "customer.id": {
                    "type": "integer",
                    "contentEncoding": "int64",
                    "examples": [
                      16395831653381
                    ]
                  },
                  "document.type": {
                    "type": "string",
                    "examples": [
                      "ACC_TO_ACC_ANY"
                    ]
                  },
                  "document.field[@name='subtype']": {
                    "type": "string",
                    "examples": [
                      "ACC_TO_ACC_OWN"
                    ]
                  },
                  "document.field[@name='currency']": {
                    "type": "string",
                    "examples": [
                      "EUR"
                    ]
                  },
                  "document.field[@name='source_currency']": {
                    "type": "string",
                    "examples": [
                      "EUR"
                    ]
                  },
                  "document.field[@name='source_amount']": {
                    "type": "integer",
                    "contentEncoding": "int32",
                    "examples": [
                      3
                    ]
                  },
                  "document.field[@name='amount']": {
                    "type": "integer",
                    "contentEncoding": "int32",
                    "examples": [
                      3
                    ]
                  },
                  "document.field[@name='value_date']": {
                    "type": "string",
                    "examples": [
                      "2024.09.08"
                    ]
                  },
                  "document.field[name=source_acc]": {
                    "type": "string",
                    "examples": [
                      "GB58EMFG00992100213301"
                    ]
                  },
                  "document.field[@name='ben_acc']": {
                    "type": "string",
                    "examples": [
                      "GB31EMFG00992100213302"
                    ]
                  },
                  "document.field[name=info_remmitance]": {
                    "type": "string",
                    "examples": [
                      "test partner api"
                    ]
                  },
                  "document.field[name=bank_ref_no]": {
                    "type": "string"
                  },
                  "customer.hmdcustomerreference.type.BACKOFFICE": {
                    "type": "integer",
                    "contentEncoding": "int32",
                    "examples": [
                      1115
                    ]
                  },
                  "user.id": {
                    "type": "integer",
                    "contentEncoding": "int64",
                    "examples": [
                      16395831651081
                    ]
                  },
                  "document.field[@name='target_currency']": {
                    "type": "string",
                    "examples": [
                      "EUR"
                    ]
                  },
                  "document.field[@name='target_amount']": {
                    "type": "integer",
                    "contentEncoding": "int32",
                    "examples": [
                      3
                    ]
                  },
                  "document.field[@name='ben_name']": {
                    "type": "string",
                    "examples": [
                      "OleNew LCC"
                    ]
                  },
                  "document.field[name=target_acc]": {
                    "type": "integer",
                    "contentEncoding": "int64",
                    "examples": [
                      17104797850531
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nginx"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Mon, 09 Sep 2024 11:01:09 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "283"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "-1"
                  }
                }
              },
              "Cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache, no-store"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Undertow 8.0"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "JSESSIONID=a7QAzMqNDSA5VkQqQxkqODm8H1lJcx55sCy7DkZ2.emerdevpcore; path=/bifrost/midgard/webhooks/partner; secure; HttpOnly; Max-Age=0; Expires=Thu, 01-Jan-1970 00:00:00 GMT"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-CSRF-Token": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "5DE266AB009EC8D213EAA29C6005CD8D0F1C76E8"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=63072000; includeSubDomains; preload"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/xml;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/response1"
                    },
                    {
                      "xml": {
                        "name": "response",
                        "attribute": false,
                        "wrapped": false
                      }
                    }
                  ],
                  "contentMediaType": "text/xml;charset=UTF-8"
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://example.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/bifrost/front/payment/create": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "ACC_TO_ACC_SWIFT (saas)",
        "operationId": "ACC_TO_ACC_SWIFT(saas)",
        "parameters": [
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                17096833300941
              ]
            }
          },
          {
            "name": "TPP-Client-Access",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6MTcyNzIzNzU4MzI2NTF9.F0CEfXMvSyaLAHoz6tCZ4HUzyzw33e9hhw0EP-xN_fs"
              ]
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "JSESSIONID=7tWil0htK19AIatT3e-jqN5ndIwZliVi7aC048ab.emerdevpcore; path=/bifrost; secure; HttpOnly"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "document.type",
                  "document.field[name=subtype]",
                  "document.field[name=source_acc]",
                  "document.field[name=currency]",
                  "document.field[name=source_currency]",
                  "document.field[name=target_currency]",
                  "document.field[name=amount]",
                  "document.field[name=source_amount]",
                  "document.field[name=target_amount]",
                  "document.field[name=value_date]",
                  "document.field[name=ben_acc]",
                  "document.field[name=ben_name]",
                  "document.field[name=ben_addr]",
                  "document.field[name=ben_city]",
                  "document.field[name=ben_country]",
                  "document.field[name=ben_bank_bic]",
                  "document.field[name=ben_bank_name]",
                  "document.field[name=ben_bank_addr]",
                  "document.field[name=ben_bank_city]",
                  "document.field[name=ben_bank_country]",
                  "document.field[name=info_remmitance]",
                  "document.field[name=bank_ref_no]",
                  "customer.id",
                  "customer.hmdcustomerreference.type.BACKOFFICE",
                  "user.id",
                  "document.field[name=saas_payment]"
                ],
                "type": "object",
                "properties": {
                  "document.type": {
                    "type": "string",
                    "description": "(Required) Document type.\n\nFor payment create you need provide name of form, depends on the system configuration. Example: ACC_TO_ACC_ANY\n\nIf you don't fill this parameter in the request, then \"EXTERNAL\" will be filled by server",
                    "examples": [
                      "ACC_TO_ACC_ANY"
                    ]
                  },
                  "document.field[name=subtype]": {
                    "type": "string",
                    "description": "(Required) Subtype. If form have subtype, then you need provide it. Depends on the system configuration.\n\nExample:\n\nACC_TO_ACC_INBANK - inbank payment;\nACC_TO_ACC_SEPA - SEPA payment\nBut if form not have subtype, then don’t provide this parameter in request",
                    "examples": [
                      "ACC_TO_ACC_INTERNATIONAL"
                    ]
                  },
                  "document.field[name=source_acc]": {
                    "type": "string",
                    "description": "Source account",
                    "examples": [
                      "GB58EMFG00992100213301"
                    ]
                  },
                  "document.field[name=currency]": {
                    "type": "string",
                    "description": "Payment currency.\n\n3-digit alphabetic currency code, example EUR",
                    "examples": [
                      "GBP"
                    ]
                  },
                  "document.field[name=source_currency]": {
                    "type": "string",
                    "description": "Source currency.\n\n3-digit alphabetic currency code, example EUR",
                    "examples": [
                      "GBP"
                    ]
                  },
                  "document.field[name=target_currency]": {
                    "type": "string",
                    "description": "Target currency.\n\n3-digit alphabetic currency code, example EUR",
                    "examples": [
                      "GBP"
                    ]
                  },
                  "document.field[name=amount]": {
                    "type": "integer",
                    "description": "Amount.\n\nAmount in transaction currency.\n\nNumber of characters after the dot must correspond to the dimension of the currency",
                    "contentEncoding": "int32",
                    "examples": [
                      6
                    ]
                  },
                  "document.field[name=source_amount]": {
                    "type": "integer",
                    "description": "Source amount.\n\nAmount in transaction currency.\n\nNumber of characters after the dot must correspond to the dimension of the currency",
                    "contentEncoding": "int32",
                    "examples": [
                      6
                    ]
                  },
                  "document.field[name=target_amount]": {
                    "type": "integer",
                    "description": "Target amount.\n\nAmount in transaction currency.\n\nNumber of characters after the dot must correspond to the dimension of the currency",
                    "contentEncoding": "int32",
                    "examples": [
                      6
                    ]
                  },
                  "document.field[name=value_date]": {
                    "type": "string",
                    "description": "Value date.\n\nFormat: YYYY.MM.DD",
                    "examples": [
                      "2024.09.25"
                    ]
                  },
                  "document.field[name=ben_acc]": {
                    "type": "integer",
                    "description": "Beneficiary account number",
                    "contentEncoding": "int64",
                    "examples": [
                      1180000011111111
                    ]
                  },
                  "document.field[name=ben_name]": {
                    "type": "string",
                    "description": "Beneficiary name",
                    "examples": [
                      "anyName"
                    ]
                  },
                  "document.field[name=ben_addr]": {
                    "type": "string",
                    "description": "Beneficiary address",
                    "examples": [
                      "anyAdress"
                    ]
                  },
                  "document.field[name=ben_city]": {
                    "type": "string",
                    "description": "Beneficiary city",
                    "examples": [
                      "KG"
                    ]
                  },
                  "document.field[name=ben_country]": {
                    "type": "string",
                    "description": "Beneficiary country.\n\nXX - two-letter country code. Example: GB",
                    "examples": [
                      "KG"
                    ]
                  },
                  "document.field[name=ben_bank_bic]": {
                    "type": "string",
                    "description": "Beneficiary bank SWIFT",
                    "examples": [
                      "DEMIKG22XXX"
                    ]
                  },
                  "document.field[name=ben_bank_name]": {
                    "type": "string",
                    "description": "Beneficiary bank name",
                    "examples": [
                      "MASHREQBANK PSC."
                    ]
                  },
                  "document.field[name=ben_bank_addr]": {
                    "type": "string",
                    "description": "Beneficiary bank address",
                    "examples": [
                      "NORTH STREET 15"
                    ]
                  },
                  "document.field[name=ben_bank_city]": {
                    "type": "string",
                    "description": "Beneficiary bank city",
                    "examples": [
                      "KG"
                    ]
                  },
                  "document.field[name=ben_bank_country]": {
                    "type": "string",
                    "description": "Beneficiary bank country",
                    "examples": [
                      "KG"
                    ]
                  },
                  "document.field[name=info_remmitance]": {
                    "type": "string",
                    "description": "Narrative",
                    "examples": [
                      "test partner sepa api"
                    ]
                  },
                  "document.field[name=bank_ref_no]": {
                    "type": "string",
                    "description": "Unique bank's payments reference number"
                  },
                  "customer.id": {
                    "type": "integer",
                    "description": "Customer ID. Same as at the customer's structure (hmdcustomer id)\n\nFor payment create, one of the fields must be filled:\n\ncustomer.id or customer.hmdcustomerreference.type.BACKOFFICE",
                    "contentEncoding": "int64",
                    "examples": [
                      16395831653381
                    ]
                  },
                  "customer.hmdcustomerreference.type.BACKOFFICE": {
                    "type": "integer",
                    "description": "Customer backoffice reference.\n\nFor payment create, one of the fields must be filled:\n\ncustomer.id or customer.hmdcustomerreference.type.BACKOFFICE",
                    "contentEncoding": "int32",
                    "examples": [
                      1115
                    ]
                  },
                  "user.id": {
                    "type": "integer",
                    "description": "User ID. Same as at the user's structure (hmduser id)\n\nIf user.id is not specified, the current user will be recorded in the payment (user who makes the request)",
                    "contentEncoding": "int64",
                    "examples": [
                      16395831651081
                    ]
                  },
                  "document.field[name=saas_payment]": {
                    "type": "string",
                    "examples": [
                      "FADO09250000053"
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nginx"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Thu, 12 Sep 2024 03:30:31 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "339"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "-1"
                  }
                }
              },
              "Cache-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache, no-store"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Undertow 8.0"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=63072000; includeSubDomains; preload"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/xml;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/response9"
                    },
                    {
                      "xml": {
                        "name": "response",
                        "attribute": false,
                        "wrapped": false
                      },
                      "examples": [
                        "<response result=\"true\" level=\"0\">\r\n  <hmdcustomer id=\"16395831653381\" />\r\n  <doc type=\"ACC_TO_ACC_ANY\" sender_user=\"16395831651081\" sender_cust=\"16395831653381\" id=\"FADO09120000060\" class=\"payment\" storage=\"1\" state=\"PSI_REGISTERED\" status=\"1\" sync_ts=\"1726111829927\" />\r\n  <doc type=\"ACC_TO_ACC_ANY\" sender_user=\"16303312317041\" sender_cust=\"16395831653381\" id=\"FADO09120000060\" class=\"payment\" storage=\"1\" state=\"PSI_RECEIVED\" status=\"4\" sync_ts=\"1726111830945\" paymentid=\"17261118298281\">\r\n    <field name=\"ben_id\" occ=\"0\" />\r\n    <field name=\"ordering_postalcode\" occ=\"0\" />\r\n  </doc>\r\n</response>"
                      ]
                    }
                  ],
                  "contentMediaType": "text/xml;charset=UTF-8"
                },
                "example": "<response result=\"true\" level=\"0\">\r\n  <hmdcustomer id=\"16395831653381\" />\r\n  <doc type=\"ACC_TO_ACC_ANY\" sender_user=\"16395831651081\" sender_cust=\"16395831653381\" id=\"FADO09120000060\" class=\"payment\" storage=\"1\" state=\"PSI_REGISTERED\" status=\"1\" sync_ts=\"1726111829927\" />\r\n  <doc type=\"ACC_TO_ACC_ANY\" sender_user=\"16303312317041\" sender_cust=\"16395831653381\" id=\"FADO09120000060\" class=\"payment\" storage=\"1\" state=\"PSI_RECEIVED\" status=\"4\" sync_ts=\"1726111830945\" paymentid=\"17261118298281\">\r\n    <field name=\"ben_id\" occ=\"0\" />\r\n    <field name=\"ordering_postalcode\" occ=\"0\" />\r\n  </doc>\r\n</response>"
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://example.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/bifrost/midgard/webhooks/partner/payment/document/create]": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payment SAAS (swift_UAE)",
        "operationId": "PaymentSAAS(swift_UAE)",
        "parameters": [
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                17096833300941
              ]
            }
          },
          {
            "name": "TPP-Client-Access",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6MTcyNzEyNzI3NzgzMTF9.c820rtGvW_V0txJcngAulCDY_5bBKOiWwiPCaI-2yeI"
              ]
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "const": "application/xml",
              "type": "string",
              "examples": [
                "application/xml"
              ]
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "JSESSIONID=zKdyormzr4kzl-4vTvsoDHbJw0t-CXW8Fz0U8R4n.emerdevpcore; path=/bifrost; secure; HttpOnly"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nginx"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Thu, 12 Sep 2024 03:30:02 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "335"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "-1"
                  }
                }
              },
              "Cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache, no-store"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Undertow 8.0"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "JSESSIONID=75UIJaBFlomJCuWRa-rT3hxCSqbVx1VLxbp69sET.emerdevpcore; path=/bifrost/midgard/webhooks/partner; secure; HttpOnly; Max-Age=0; Expires=Thu, 01-Jan-1970 00:00:00 GMT"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-CSRF-Token": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1327BECA9A547BF20D1EA56235793A82262E2FEB"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=63072000; includeSubDomains; preload"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/xml;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/response"
                    },
                    {
                      "xml": {
                        "name": "response",
                        "attribute": false,
                        "wrapped": false
                      },
                      "examples": [
                        "<response result=\"true\" level=\"0\">\r\n  <hmdcustomer id=\"16395831653381\" />\r\n  <doc type=\"SAAS_PAYMENT\" sender_user=\"16395831651081\" sender_cust=\"16395831653381\" id=\"FADO09120000059\" class=\"saas\" storage=\"1\" state=\"PSI_REGISTERED\" status=\"1\" sync_ts=\"1726111802458\" />\r\n  <signer>\r\n    <displayPin>9134</displayPin>\r\n    <reference>17261118025621</reference>\r\n    <expiresIn>180</expiresIn>\r\n    <qrCode>signer.document.commit|9134|17261118025621|180|1726111982562|FADO09120000059</qrCode>\r\n  </signer>\r\n</response>"
                      ]
                    }
                  ],
                  "contentMediaType": "text/xml;charset=UTF-8"
                },
                "example": "<response result=\"true\" level=\"0\">\r\n  <hmdcustomer id=\"16395831653381\" />\r\n  <doc type=\"SAAS_PAYMENT\" sender_user=\"16395831651081\" sender_cust=\"16395831653381\" id=\"FADO09120000059\" class=\"saas\" storage=\"1\" state=\"PSI_REGISTERED\" status=\"1\" sync_ts=\"1726111802458\" />\r\n  <signer>\r\n    <displayPin>9134</displayPin>\r\n    <reference>17261118025621</reference>\r\n    <expiresIn>180</expiresIn>\r\n    <qrCode>signer.document.commit|9134|17261118025621|180|1726111982562|FADO09120000059</qrCode>\r\n  </signer>\r\n</response>"
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://example.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/bifrost/j_security_check": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Auth",
        "operationId": "Auth",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "j_username",
                  "j_password"
                ],
                "type": "object",
                "properties": {
                  "j_username": {
                    "type": "string",
                    "examples": [
                      "denysenko"
                    ]
                  },
                  "j_password": {
                    "type": "string",
                    "examples": [
                      "jH$z8ZDXsa4F53"
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://example.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/midgard/webhooks/partner/token/secret/reset": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Reset Secret Token",
        "operationId": "ResetSecretToken",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "const": "application/xml",
              "type": "string",
              "examples": [
                "application/xml"
              ]
            }
          },
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "Token assignment ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                17097039076731
              ]
            }
          },
          {
            "name": "TPP-Client-Secret",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "DlQbdpLX1S7QhDFqrSEmszIsPw9eJ/GW9JGg1iSLdU3cRHVTqkgRKfjidL4cpj3fwlZjvmexCVEfAxwEtbjtsQ=="
              ]
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "JSESSIONID=0tuIhZtFXLTP8EiQuJLcbnaH06rKalVLPrmncnUP.emerdevpcore; path=/bifrost; secure; HttpOnly"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nginx"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Wed, 10 Jul 2024 00:56:11 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "274"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "-1"
                  }
                }
              },
              "Cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache, no-store"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Undertow 8.0"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "JSESSIONID=_NdlmxbPxb1_lszQwcQgnpgEzECkUJLyIqvGgcWv.emerdevpcore; path=/bifrost/midgard/webhooks/partner; secure; HttpOnly; Max-Age=0; Expires=Thu, 01-Jan-1970 00:00:00 GMT"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-CSRF-Token": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "808A26004B5923F387751B266BA3698CFA6218FE"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=63072000; includeSubDomains; preload"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/xml;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/response14"
                    },
                    {
                      "xml": {
                        "name": "response",
                        "attribute": false,
                        "wrapped": false
                      },
                      "examples": [
                        "<response result=\"true\" level=\"0\">\r\n  <type>client-secret-reset</type>\r\n  <clientSecret>apFhDCJOQvuQdli7I4Piv84FneEUxkGuRCFNV6sFyHa+7HrCpiVYD4iWlwPLtnd/a/ZbMaveUNAuiwa8AVeMXg==</clientSecret>\r\n  <expiresIn>2592000</expiresIn>\r\n</response>"
                      ]
                    }
                  ],
                  "contentMediaType": "text/xml;charset=UTF-8"
                },
                "example": "<response result=\"true\" level=\"0\">\r\n  <type>client-secret-reset</type>\r\n  <clientSecret>apFhDCJOQvuQdli7I4Piv84FneEUxkGuRCFNV6sFyHa+7HrCpiVYD4iWlwPLtnd/a/ZbMaveUNAuiwa8AVeMXg==</clientSecret>\r\n  <expiresIn>2592000</expiresIn>\r\n</response>"
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://emerdevpcore.geniusto.co.uk/bifrost",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/midgard/webhooks/partner/token/access/reset": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "Reset Access Token",
        "operationId": "ResetAccessToken",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "const": "application/xml",
              "type": "string",
              "examples": [
                "application/xml"
              ]
            }
          },
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "Token assignment ID",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                17097039076731
              ]
            }
          },
          {
            "name": "TPP-Client-Secret",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "NjATPtEb2kwrwIcqaonFQ5l96HOH+cxB5CBpCHm2ogHOfwQDbkSXZO8XyZ0BF6hBOWqgHB+PXFmHf98BHYHjFg=="
              ]
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "JSESSIONID=0tuIhZtFXLTP8EiQuJLcbnaH06rKalVLPrmncnUP.emerdevpcore; path=/bifrost; secure; HttpOnly"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nginx"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Wed, 10 Jul 2024 00:56:53 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "289"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "-1"
                  }
                }
              },
              "Cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache, no-store"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Undertow 8.0"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "JSESSIONID=_NdlmxbPxb1_lszQwcQgnpgEzECkUJLyIqvGgcWv.emerdevpcore; path=/bifrost/midgard/webhooks/partner; secure; HttpOnly; Max-Age=0; Expires=Thu, 01-Jan-1970 00:00:00 GMT"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-CSRF-Token": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "808A26004B5923F387751B266BA3698CFA6218FE"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=63072000; includeSubDomains; preload"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/xml;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/response15"
                    },
                    {
                      "xml": {
                        "name": "response",
                        "attribute": false,
                        "wrapped": false
                      },
                      "examples": [
                        "<response result=\"true\" level=\"0\">\r\n  <type>client-access-reset</type>\r\n  <accessToken>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6MTcyMDU3MzAxMzkwNTF9.orj67ALEkxtgyzv_xmDnWiIs5n2P1LMjDPwh1BvXxIo</accessToken>\r\n  <expiresIn>7776000</expiresIn>\r\n</response>"
                      ]
                    }
                  ],
                  "contentMediaType": "text/xml;charset=UTF-8"
                },
                "example": "<response result=\"true\" level=\"0\">\r\n  <type>client-access-reset</type>\r\n  <accessToken>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6MTcyMDU3MzAxMzkwNTF9.orj67ALEkxtgyzv_xmDnWiIs5n2P1LMjDPwh1BvXxIo</accessToken>\r\n  <expiresIn>7776000</expiresIn>\r\n</response>"
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://emerdevpcore.geniusto.co.uk/bifrost",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/bifrost/midgard/webhooks/partner/payment/document/search": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Receive payment structure (in Personal case)",
        "operationId": "Receivepaymentstructure(inPersonalcase)",
        "parameters": [
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                17096833300941
              ]
            }
          },
          {
            "name": "TPP-Client-Access",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "HqVkXIyDJBbQRzo9Mzf+g0UbYymO1vBcPwB/5os30pXfIYozCHTNunMfDKisEB7CVJYUDTbX5C7PfSzIj2w+YA=="
              ]
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "JSESSIONID=VTG0Nikj3jbslQr3DhGs7wCzBrrGYxCj3tXfS0AE.emerdevpcore; path=/bifrost; secure; HttpOnly"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "document.reference",
                  "document.field[name=partner_id]"
                ],
                "type": "object",
                "properties": {
                  "document.reference": {
                    "type": "string",
                    "examples": [
                      "FADO08070000006"
                    ]
                  },
                  "document.field[name=partner_id]": {
                    "type": "integer",
                    "contentEncoding": "int64",
                    "examples": [
                      17096833300941
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nginx"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Wed, 07 Aug 2024 00:31:52 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1167"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "-1"
                  }
                }
              },
              "Cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache, no-store"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Undertow 8.0"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "JSESSIONID=VTG0Nikj3jbslQr3DhGs7wCzBrrGYxCj3tXfS0AE.emerdevpcore; path=/bifrost/midgard/webhooks/partner; secure; HttpOnly; Max-Age=0; Expires=Thu, 01-Jan-1970 00:00:00 GMT"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-CSRF-Token": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "151B819840C1E2F0F177D5AEF2B088E3D251926E"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=63072000; includeSubDomains; preload"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/xml;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/response17"
                    },
                    {
                      "xml": {
                        "name": "response",
                        "attribute": false,
                        "wrapped": false
                      }
                    }
                  ],
                  "contentMediaType": "text/xml;charset=UTF-8"
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://example.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/midgard/webhooks/partner/payment/document/search": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Search for the payment On-boarding structure (in Personal case)",
        "operationId": "SearchforthepaymentOn-boardingstructure(inPersonalcase)",
        "parameters": [
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                17096833300941
              ]
            }
          },
          {
            "name": "TPP-Client-Access",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "HqVkXIyDJBbQRzo9Mzf+g0UbYymO1vBcPwB/5os30pXfIYozCHTNunMfDKisEB7CVJYUDTbX5C7PfSzIj2w+YA=="
              ]
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "JSESSIONID=VTG0Nikj3jbslQr3DhGs7wCzBrrGYxCj3tXfS0AE.emerdevpcore; path=/bifrost; secure; HttpOnly"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "document.reference"
                ],
                "type": "object",
                "properties": {
                  "document.reference": {
                    "type": "string",
                    "examples": [
                      "HAPO08070000002"
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nginx"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 08 Dec 2023 12:03:08 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1059"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "-1"
                  }
                }
              },
              "Cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache, no-store"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Undertow 8.0"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "JSESSIONID=FsXkp_m68TgEk4r8Oa2yUagUw-fvmy64Q5uwXhR7.emerdevpcore; path=/bifrost/midgard/webhooks/partner; secure; HttpOnly; Max-Age=0; Expires=Thu, 01-Jan-1970 00:00:00 GMT"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-CSRF-Token": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "EA8A1787E4532E151B917D7965E8AAB752D750AD"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=63072000; includeSubDomains; preload"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/xml;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/response20"
                    },
                    {
                      "xml": {
                        "name": "response",
                        "attribute": false,
                        "wrapped": false
                      }
                    }
                  ],
                  "contentMediaType": "text/xml;charset=UTF-8"
                }
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://emerdevpcore.geniusto.co.uk/bifrost",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/{api}/payment/document/commit": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Commit SDK Onfido",
        "operationId": "CommitSDKOnfido",
        "parameters": [
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "{{customer_id}}"
              ]
            }
          },
          {
            "name": "TPP-Client-Access",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "{{access_token}}"
              ]
            }
          },
          {
            "name": "api",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "document.id"
                ],
                "type": "object",
                "properties": {
                  "document.id": {
                    "type": "string",
                    "examples": [
                      "HAPN12080000001"
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nginx"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Fri, 08 Dec 2023 12:04:40 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "269"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Expires": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "-1"
                  }
                }
              },
              "Cache-control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache, no-store"
                  }
                }
              },
              "X-Powered-By": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Undertow 8.0"
                  }
                }
              },
              "Set-Cookie": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "JSESSIONID=TgDxSQva5lXn6vtcIZ2pnuEGB8BUC-c5RIH_otcL.emerdevpcore; path=/bifrost/midgard/webhooks/partner; secure; HttpOnly; Max-Age=0; Expires=Thu, 01-Jan-1970 00:00:00 GMT"
                  }
                }
              },
              "Pragma": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-cache"
                  }
                }
              },
              "X-CSRF-Token": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "A646E5DE50A21E8E521B1E2EF235881D0198B9B8"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=63072000; includeSubDomains; preload"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "text/xml;charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/response21"
                    },
                    {
                      "xml": {
                        "name": "response",
                        "attribute": false,
                        "wrapped": false
                      },
                      "examples": [
                        "<response result=\"true\" level=\"0\">\r\n  <doc id=\"HAPN12080000001\" paymentid=\"17020367904741\" type=\"on-boarding\" class=\"application\" storage=\"1\" sender_user=\"SYSTEM\" state=\"PSI_RECEIVED\" status=\"4\" sync_ts=\"1702037079939\" />\r\n</response>"
                      ]
                    }
                  ],
                  "contentMediaType": "text/xml;charset=UTF-8"
                },
                "example": "<response result=\"true\" level=\"0\">\r\n  <doc id=\"HAPN12080000001\" paymentid=\"17020367904741\" type=\"on-boarding\" class=\"application\" storage=\"1\" sender_user=\"SYSTEM\" state=\"PSI_RECEIVED\" status=\"4\" sync_ts=\"1702037079939\" />\r\n</response>"
              }
            }
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://example.com",
            "variables": {}
          }
        ]
      },
      "parameters": []
    },
    "/front/payment/document/create": {
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "Questionnaire Private",
        "operationId": "QuestionnairePrivate",
        "parameters": [
          {
            "name": "TPP-Registration-Number",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "integer",
              "contentEncoding": "int64",
              "examples": [
                17096833300941
              ]
            }
          },
          {
            "name": "TPP-Client-Access",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "a3e9VSlIlgTdN3zUEXwoNryYQSVQV48PUGLSYUKZlFNnYc8Ycvl0Nk0kke9wV5+LTMirvSQW4V52rWf6kFgdXg=="
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "document.type",
                  "user.id",
                  "customer.id",
                  "document.field[name=country_of_birth]",
                  "document.field[name=tax_number]",
                  "document.field[name=tax_country]",
                  "document.field[name=occupation]",
                  "document.field[name=is_account_for_business]",
                  "document.field[name=source_of_income]",
                  "document.field[name=is_pep]",
                  "document.field[name=is_sole_account_owner]",
                  "document.field[name=citizenship]",
                  "document.field[name=confirm_tax]",
                  "document.field[name=confirm_citizenship]",
                  "document.field[name=personal_account]",
                  "document.field[name=us_person][section=risk][type=boolean]"
                ],
                "type": "object",
                "properties": {
                  "document.type": {
                    "type": "string",
                    "examples": [
                      "questionnaire_private_partner"
                    ]
                  },
                  "user.id": {
                    "type": "integer",
                    "contentEncoding": "int64",
                    "examples": [
                      17108280986491
                    ]
                  },
                  "customer.id": {
                    "type": "integer",
                    "contentEncoding": "int64",
                    "examples": [
                      17108280986111
                    ]
                  },
                  "document.field[name=country_of_birth]": {
                    "type": "string",
                    "examples": [
                      "UA"
                    ]
                  },
                  "document.field[name=tax_number]": {
                    "type": "integer",
                    "contentEncoding": "int32",
                    "examples": [
                      70
                    ]
                  },
                  "document.field[name=tax_country]": {
                    "type": "string",
                    "examples": [
                      "UA"
                    ]
                  },
                  "document.field[name=occupation]": {
                    "type": "integer",
                    "contentEncoding": "int32",
                    "examples": [
                      3
                    ]
                  },
                  "document.field[name=is_account_for_business]": {
                    "type": "string",
                    "examples": [
                      "N"
                    ]
                  },
                  "document.field[name=source_of_income]": {
                    "type": "string",
                    "examples": [
                      "salary"
                    ]
                  },
                  "document.field[name=is_pep]": {
                    "type": "string",
                    "examples": [
                      "N"
                    ]
                  },
                  "document.field[name=is_sole_account_owner]": {
                    "type": "string",
                    "examples": [
                      "Y"
                    ]
                  },
                  "document.field[name=citizenship]": {
                    "type": "string",
                    "examples": [
                      "UA"
                    ]
                  },
                  "document.field[name=confirm_tax]": {
                    "type": "string",
                    "examples": [
                      "UA"
                    ]
                  },
                  "document.field[name=confirm_citizenship]": {
                    "type": "string",
                    "examples": [
                      "UA"
                    ]
                  },
                  "document.field[name=personal_account]": {
                    "type": "string",
                    "examples": [
[...]
